# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out
build

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore
README.md

# Vercel
.vercel
